.list-books {
    background: rgb(238, 238, 238);
    margin-top: 3rem;
    padding: 2rem 0;
    min-height: 50rem
}

.card-content {
    min-height: 220px;
    min-width: 245px;
}

.card-content .title {
    padding-bottom: 15px
}

.card-content .price {
    margin-bottom: auto;
    margin-top: auto
}

.card {
    margin: 0 1rem;
    max-width: 450px
}
